/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    font-family: 'Gloria Hallelujah', serif;
    background: url(../images/paper_and_pencils.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    color: #804004;
}
h1, h2, h3, h4, h5 {
    font-family: 'Amatic SC', sans-serif;
}

td, th {
    color: #804004;
}

a {
    color: #C36F09;
    /* color: #bf211e; */
}

label{
    
    margin-bottom : 0px;
}

.btn-primary{
    background-color : #804004;
}

.navbar{
    background-color : #804004;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color : antiquewhite;
}
a.navbar-brand:hover, a.nav-link:hover{
    color : #fade88;
}

.nav-item {
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.5rem;
    
}

a.nav-link {
    color: antiquewhite;
}

.table {
    background-color: rgba(255,255,255,.3);
    background-color: rgba(250, 222, 136, .8);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
