@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Welcome to Kent's Scripture Journal</h1>
    <p class="mt-3">Check out all of <a asp-area="" asp-page="/Scriptures/Index">Kent's Favorite Scriptures</a></p>

    
</div>
